/*General organization*/
body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Game header*/
header h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;
    margin-top: 40px;
}

/*Main subject (start)*/
main {
    width: 65%;
    height: 100%;
    margin: 47px auto;

}

/*Cards*/
.all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    
}

.all-cards .card {
    height: 146px;
    width: 117px;  
    position: relative;
    transform-style: preserve-3d;
    transition: 0.3s;
}

.card:active{
    transform: scale(0.97);
}

.card.flip{
    transform: rotateY(180deg);
}

.all-cards img {
    width: 100px;
   
}

.front-end, .back-end{
    border-radius: 5px;
    background: rgba(167, 233, 175, 1);
    border: 1px solid rgba(153, 206, 168, 1);
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.back-end{
    transform: rotateY(180deg);
}
